<!DOCTYPE html>
<html ng-app="appMain">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>wadado.in</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @*@Styles.Render("~/Content/themes/base/css")*@
    <script>
        window.Wadado = {};
        (function (wdo) {
            var rootPath;
            wdo.rootPath = rootPath;
        }(window.Wadado));
        //For development
        //Wadado.rootPath = 'http://localhost:4197/';
        //For Testing
        Wadado.rootPath = 'http://www.thefigtree.in/';
        //For Production
        //Wadado.rootPath = 'http://www.wadado.in/';
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    <script type='text/javascript' src="//wurfl.io/wurfl.js"></script>

    <!-- *************** LOAD THE GOOGLE FONT ****************** -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-url-parser/2.3.1/purl.min.js" type="text/javascript"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA33swsSU1sw2nOllXZhB9cJ1bsfp-OV1U">
    </script>
    <meta name="google-signin-client_id" content="906159375301-v2fqno1s4s7p6v9qktk48jqiorce7v75.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    @*<base href="http://www.thefigtree.in">*@	
    <script src="~/Scripts/app.js"></script>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
      <script>
        document.createElement('ui-select');
        document.createElement('ui-select-match');
        document.createElement('ui-select-choices');
      </script>
    <![endif]-->
        
</head>
<body>
    <div class="spinner">
        <img src="~/Images/Icons/spinner.gif" />
    </div>
    <div id="body">
        <div id="fb-root"></div>
        <section>
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="footerWrapper">
            <div class="footer">
                <div class="center-element-relative-table">
                    <img src="~/Images/Icons/do_mob.png" />
                </div>
            </div>
        </div>
    </footer>
    @RenderSection("scripts", required: false)

    <!-- *************** SCRIPT TO MAKE THE MOBILE NAV EXPAND DOWN ****************** -->
    <script>
        $(document).ready(function () {
            $(".nav-button").click(function () {
                $(".nav-button,.menu-nav").toggleClass("open");
                $(".cover").toggleClass("open");
                preventScrolling();
            });
            $(".cover").click(function () {
                $(".nav-button,.menu-nav").toggleClass("open");
                $(".cover").toggleClass("open");
                allowScrolling();
            });
            $(".logo-button").click(function () {
                window.location.href = "http://www.thefigtree.in";
            });

            var preventScrolling = function () {
                $('body').bind('touchmove', function (e) { e.preventDefault() });
            }

            var allowScrolling = function () {
                $('body').unbind('touchmove');
            }
        });
    </script>
</body>
</html>
