@{
    ViewBag.Title = "WADADO.IN";
}
<!--SLIDER REFERENCE-->
<script src="~/Scripts/slider/jssor.js"></script>
<script src="~/Scripts/slider/jssor.slider.js"></script>
<script src="~/Scripts/slider/slider.js"></script>

<!--UI SELECT REFERENCE-->
<link href="~/Content/ui-select/select.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2.css" rel="stylesheet" />
<link href="~/Content/ui-select/select2-bootstrap.css" rel="stylesheet" />

<!--JQUERY UI REFERENCE-->
<link href="~/Content/jquery-ui-1.10.1.css" rel="stylesheet" />

<!--WADADO REFERENCE-->
<script src="~/Scripts/Video/video.js"></script>
<script src="~/Scripts/angular-ui/ui-select/select.js"></script>

<!--FAVOURITES REFERENCE-->
<script src="~/Scripts/Common/services/FavoritesDataService.js"></script>
<script src="~/Scripts/Common/controllers/FavoritesController.js"></script>

<!--ACCOUNT REFERENCE-->
<script src="~/Scripts/Login/Model/AccountLoginModel.js"></script>
<script src="~/Scripts/Login/services/LoginDataService.js"></script>
<script src="~/Scripts/Login/controllers/LoginController.js"></script>

<!--MENU REFERENCE-->
<script src="~/Scripts/Common/services/MenuDataService.js"></script>
<script src="~/Scripts/Common/controllers/MenuController.js"></script>
<link href="~/Content/mobilemenu.css" rel="stylesheet" />

<script src="~/Scripts/Common/services/SearchDataService.js"></script>
<script src="~/Scripts/Common/controllers/SearchController.js"></script>


<!--DATE FILTER REFERENCE-->
<script src="~/Scripts/Directives/Date/DateDirective.js"></script>
<script src="~/Scripts/Common/services/DateFilterDataService.js"></script>
<script src="~/Scripts/Common/controllers/DateFilterController.js"></script>


<script src="~/Scripts/Activities/services/ActivityDataService.js"></script>
<script src="~/Scripts/Activities/controllers/ActivityController.js"></script>
<link href="~/Content/phone.css" rel="stylesheet" />

<link href="~/Content/_date.css" rel="stylesheet" />

<div id="colorbar">
</div>
<div class="cover"></div>
<div id="contentWrapper" data-ng-controller="ActivityController">
    <div>
        @Html.Partial("../Partial/_search")
    </div>
    <div>
        @Html.Partial("../Partial/_mobilemenu")
    </div>
    <div>
        @Html.Partial("../Partial/_dateFilter")
    </div>
    <div>
        @Html.Partial("../Partial/_activityList")
    </div>
    <div class="uppercontent" ng-cloak>
        <div>
            <!--Row start-->
            <div class="row">
                <div class="activity">
                    <span>{{ActivityType}}</span>
                </div>
            </div>
            <div class="column-12">&nbsp;</div>
            <div class="row" ng-cloak>
                <div class="column-0">
                    <img src="~/Images/Icons/events_icon_mobile.png" id="dateFilter">
                </div>
                <div class="column-7">
                    <div style="" id="dateRange" class="date-range">
                        <span>{{dateRange}}</span>
                    </div>
                    <div class="bin" ng-click="clearFilter()">
                        <img src="~/Images/Icons/bin_cross.png" ng-if="datesSelected" />
                    </div>
                </div>
                <div class="column-3">
                    <div class="date-range" ng-click="showActivityType()">
                        <span>By Category</span>
                    </div>
                </div>
                <div class="column-0">
                    <div class="bin" ng-click="clearActivityTypeFilter()">
                        <img src="~/Images/Icons/bin_cross.png" ng-if="categoryFilterSelected" />
                    </div>
                </div>
            </div>            
            <!--Row start-->
            <div class="row">
                <div ng-repeat="item in allSelectedActivity | activityFilter">
                    <div class="column-12 top">
                        <div class="imageDiscountLabel">
                            <div>
                                <p ng-if="item.Discount > 0">
                                    <span>{{item.Discount}}% Off</span>
                                </p>
                                <p>
                                    <span>{{item.Currency}} {{item.Cost}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="crop-height" data-ng-click="loadActivityDetails(item)">
                            <img ng-src="{{item.DefaultImageURL}}" data-ng-click="" style="width:100%;" />
                        </div>
                        <div class="image-noPaddingDiv">
                            <div class="leftDiv">
                                <div>
                                    <p><span>{{item.ActivityName}}</span></p>
                                </div>
                                <div class="ratingList" id="userRating">
                                    <div ng-repeat="imageItem in item.ratingURL track by $index">
                                        <img ng-src="{{imageItem}}" />
                                    </div>
                                </div>
                            </div>
                            <div class="rightDiv">
                                <div class="like-container">
                                    @Html.Partial("../Partial/_favourites")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Row end-->
        </div>
    </div>
</div>